<div class="input-group">
<ul>
  <% @storylines.each do |storyline| %>
  <% name = storyline.story_name.capitalize if storyline.story_name %>
    <li>
      <h4><small><%= link_to "#{name}", storyline %></small></h4>
      <h5><small>created at <%= "#{storyline.created_at.to_time.strftime('%B %e at %l:%M %p')}" %></h5></small>
  </li>
  <% end %>
</ul>
</div>
<%= link_to "Back", root_path %>

