<div class="input-group">
<ul class="fa-ul">
  <% @storylines.each do |storyline| %>
  <% name = storyline.story_name.capitalize if storyline.story_name %>
    <li><i class="fa fa-cog fa-spin"></i> <%= link_to "#{name}", storyline %>
      <h5><small>created on <%= "#{storyline.created_at.to_time.strftime('%B %e at %l:%M %p')}" %></h5></small>
  </li>
  <% end %>

    <button class="btn btn-success">
      <i class="fa fa-phone-square"></i> 
      <i class="fa fa-picture-o"></i> 
      <%= link_to " play ", root_path %>
    </button>
  </ul>
</div>