<div class="input-group">
<ul class="fa-ul">
  <% @storylines.each do |storyline| %>
    <% name = storyline.story_name.capitalize if storyline.story_name %>
    <li data-id="<%= storyline.id %>"><i class="fa fa-cog fa-spin"></i> 
      <%= link_to "#{name}", "/?show_story=true" %>
      
      <h5><small>created on <%= "#{storyline.created_at.to_time.strftime('%B %e at %l:%M %p')}" %>
      </h5></small>
  </li>
  <% end %>

    <button id="play_button" class="btn btn-success">
      <i class="fa fa-phone-square"></i> 
      <i class="fa fa-picture-o"></i> play
    </button>
  </ul>
</div>