<div class="media">
  <a class="pull-left" href="#">
    <img class="media-object" src="..." alt="...">
  </a>
  <div class="media-body">
    <h4 class="media-heading">What is Telephone Pictionary?</h4>
    <div id="esplain_text">
      Telephone Pictionary sits at the juncture between the games of Telephone and Pictionary. It starts with a phrase composed by the first player. Then a picture illustrating the phrase gets added by the next player. The player after that adds another phrase describing the picture. The cycle continues! Eventually you have a storyline composed of phrases and pictures. It's a graphic novel completed by many different people, each contributing his/her own unique voice.
    </div>
  </div>
  <button class="btn btn-default">
    <%= link_to "play the game", root_path %>
  </button>

</div>

