<div class="media">
  <div class="media-body">
    <h4 class="media-heading">What is Telephone Pictionary?</h4>
    <div id="esplain_text">
      It starts with a phrase composed by the first player. The next player then adds a picture to illustrate the phrase. They pass this picture to the next player, who composes a phrase describing the picture. Each player only sees the picture or phrase that came before. The cycle continues. Eventually you have a somewhat random storyline composed of phrases and pictures.
    </div>
  </div>
  <button class="btn btn-success">
    <span class="glyphicon glyphicon-phone-alt"></span> 
    <span class="glyphicon glyphicon-picture"></span> 
    <%= link_to " play ", "/"%>
  </button>
    <button class="btn btn-default">
    <span class="glyphicon glyphicon-book"></span>  
    <%= link_to " see stories ", root_path(list: true) %>
  </button>

</div>

