<div class="media">
  <a class="pull-left" href="#">
    <%= image_tag "screen_shot.png", class: "media-object" %>
  </a>
  <div class="media-body">
    <h4 class="media-heading">What is Telephone Pictionary?</h4>
    <div id="esplain_text">
      Telephone Pictionary sits at the juncture between the games of Telephone and Pictionary. It starts with a phrase composed by the first player. Then a picture illustrating the phrase gets added by the next player. The player after that adds another phrase describing the picture. The cycle continues! Eventually you have a storyline composed of phrases and pictures. It's a graphic novel completed by many different people, each contributing his/her own unique voice.
    </div>
  </div>
  <button class="btn btn-success">
    <span class="glyphicon glyphicon-phone-alt"></span> 
    <span class="glyphicon glyphicon-picture"></span> 
    <%= link_to " play ", root_path %>
  </button>
    <button class="btn btn-default">
    <span class="glyphicon glyphicon-book"></span>  
    <%= link_to " see stories ", root_path(list: true) %>
  </button>

</div>

